* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: JetBrains Mono, monospace;
}

button {
  background: #1c1c1c;
  color: #efefef;
  border: none;
  padding: 1rem;
  font-family: monospace;
  border-radius: 3px;
}

button:hover {
  background: #2c2c2c;
  cursor: pointer;
}

label {
  color: #efefef;
}

input {
  background: #3c3c3c;
  border: none;
  padding: 0.5rem 1rem;
  color: #efefef;
  font-family: JetBrains Mono, monospace;
  margin-top: 10px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.container {
  display: none;
  position: absolute;
  top: 55vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.container form > * {
  margin: 0.5rem;
}

.error-modal {
  display: none;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: #eb3734;
  color: #efefef;
  padding: 1rem 2rem;
  border-radius: 3px;
  text-align: center;
}

.small-text {
  font-size: 12px;
}

.graphics-options-container {
  position: absolute;
  bottom: 0;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.graphics-options-container p {
  text-align: center;
  margin-bottom: 0.75rem;
  color: #6c6c6c;
}

#low {
  background: #eb3734;
}

#mid {
  background: #ee7606;
}

#high {
  background: #0ff751;
}
